.cardShadow {
    box-shadow: 0 0 10px 0 gray;
    background-color: bisque;
    border-radius: 10px;
}

.cardImg {
    transition: .3s all ease-in-out;
}

.cardImg:hover {
    transform: scale(1.2);
}